
h1 {
color: black ;
font-size:300%;
font-family: opensans ;
text-align: center;
}
h2 {
color: black ;
font-size:225%;
font-family: opensans ;
text-align: center;
}
p {
  color: black;
  font-family: opensans;
  font-size: 160%;
  text-align: justify;
}